.download-banner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 25px;
    padding: 25px 40px;
    gap: 20px;
    background-color: #ffffff;
}

.download-banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 5px;
}

.download-button{
    width: 160px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #25d366;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.download-button span{
    margin-left: 10px;
}

.download-button:hover{
    background-color: black;
    color: white;
}

.download-banner-title{
    font-size: 19px;
    font-weight: 400;
}

.link-download{
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: none;
}

.link-download:hover{
    color: #25d366;
}

.download-link-span{
    border-bottom: #25d366 solid 2px;
    padding-bottom: 2px;
}

@media screen and (max-width: 900px) {
    .link-download{
        display: block;
    }
    .download-button{
        display: none;
    }
    .download-banner-container{
        width: 100%;
    }
    .text-info-to-download{
        display: none;
    }
}