.steps-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.whatsapp-text{
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
}

.steps-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.steps-list li{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.step-icon{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: black;
}

.border-style{
    width: 20px;
    height: 20px;
    border: 1px solid #d1d7db ;
    border-radius: 5px;
}

.icon_whatsapp{
    color: #25d366;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .steps-list-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
    
}

@media screen and (max-width: 768px) {
    .steps-list-container{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
    
}